certifi
chardet
click
Flask
gunicorn
idna
itsdangerous
Jinja2
joblib
jsonify
MarkupSafe
numpy
pandas
patsy
python-dateutil
pytz
requests
scikit-learn
scipy
six
sklearn
statsmodels
threadpoolctl
urllib3
Werkzeug
wincertstore